
body {

	background: #e84a5f;
}


:root { --font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.navbar {
	  position: right;
	  right: 100px;
	  top: 100;
	background-color: #e84a5f;
  overflow: hidden;
}
  
.navbar a {  float: center;
  color: #333;
  text-align: right;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
}

.navbar1 {

  position: top;
  right: 100px;
    top: 50;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    background-color: #0f0606;
  
}

.slider {

	width: 100%;
	margin: absolute;
	overflow: hidden;
}

.slider ul {
	display: flex;
padding: 0%;
width: 300%;
animation: cambio 20s infinite alternate;
animation-timing-function: linear;
animation-fill-mode: forwards;

}

.slider li {
	width: 100%;
 list-style: none;
}

.slider img {
 width: 50%;

}

/*animacion*/

@keyframes cambio{

0% { margin-left: 0;}
20% {margin-left: 0;}

25% { margin-left: -100%; }
45% { margin-left: -100%; }

50% { margin-left: -200%; }
70% { margin-left: -200%; }

/*75% { margin-left: -300%; }
100% { margin-left: -300%; }*/
}



 .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #aeb1c2;
  background-clip: padding-box;
  border: 0 solid rgba(119, 22, 22, 0.1);
  border-radius: 0.75rem;
  outline: 1;

} 

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 0 solid #dee2e6;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 4rem 1rem;
}


.portfolio .portfolio-item {
  cursor: col-resize;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: visible;
}

.portfolio-modal .close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 5rem;
  font-size: 3rem;
  line-height: 3rem;
  color: #1abc9c;
  opacity: 1;
}




