
body {

	background:
    43.3px 50px/86.6px 150px radial-gradient(1% 66% at 0 100%, tan 99%, transparent 0),
    43.3px 100px/86.6px 150px radial-gradient(1% 66% at 100% 0, tan 99%, transparent 0),
    0 25px/86.6px 150px radial-gradient(1% 66% at 100% 0, tan 99%, transparent 0),
    0 125px/86.6px 150px radial-gradient(1% 66% at 0 100%, tan 99%, transparent 0),
    0 100px/86.6px 150px linear-gradient(30deg, white 2.5%, tan 0 7.5%, white 0 12%, tan 0 13%, transparent 0),
    0 125px/86.6px 150px linear-gradient(30deg, white 5%, tan 0 10%, white 0 12.5%, transparent 0),
    43.3px 100px/86.6px 150px linear-gradient(210deg, white 5%, tan 0 10%, white 0 12.5%, transparent 0),
    43.3px 125px/86.6px 150px linear-gradient(210deg, white 2.5%, tan 0 7.5%, white 0 12%, tan 0 13%, transparent 0),
    43.3px 25px/86.6px 150px linear-gradient(30deg, white 2.5%, tan 0 7.5%, white 0 12%, tan 0 13%, transparent 0),
    43.3px 50px/86.6px 150px linear-gradient(30deg, white 5%, tan 0 10%, white 0 12.5%, transparent 0),
    0 25px/86.6px 150px linear-gradient(210deg, white 5%, tan 0 10%, white 0 12.5%, transparent 0),
    0 50px/86.6px 150px linear-gradient(210deg, white 2.5%, tan 0 7.5%, white 0 12%, tan 0 13%, transparent 0),
    43.3px 75px/86.6px 150px linear-gradient(150deg, transparent 37%, tan 0 38%, white 0 42.5%, tan 0 47.5%, white 0 52.5%, tan 0 57.5%, white 0 62%, tan 0 63%, transparent 0),
    0 0/86.6px 150px linear-gradient(150deg, transparent 37%,tan 0 38%, white 0 42.5%, tan 0 47.5%, white 0 52.5%, tan 0 57.5%, white 0 62%, tan 0 63%, transparent 0),
    0 0/86.6px 150px linear-gradient(90deg, tan 1%, white 0 10%, tan 0 20%, white 0 30%, tan 0 40%, white 0 49%, tan 0 51%, white 0 60%, tan 0 70%, white 0 80%, tan 0 90%, white 0 99%, tan 0);
}


:root { --font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}




#mainNav {
  position: absolute;
  padding-right: 5rem;
  padding-left: 3.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  background-color: black;
}
#mainNav .navbar-brand {
  color: #fff;
}
#mainNav .navbar-nav {
  margin-top: 1rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #e74a5f;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #e74a5f;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.1rem;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #e74a5f;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #e74a5f;
  }

  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}



.slider {

	width: 100%;
	margin: absolute;
	overflow: hidden;
}

.slider ul {
	display: flex;
padding: 0%;
width: 300%;
animation: cambio 20s infinite alternate;
animation-timing-function: linear;
animation-fill-mode: forwards;

}

.slider li {
	width: 100%;
 list-style: none;
}

.slider img {
 width: 50%;

}

/*animacion*/

@keyframes cambio{

0% { margin-left: 0;}
20% {margin-left: 0;}

25% { margin-left: -100%; }
45% { margin-left: -100%; }

50% { margin-left: -200%; }
70% { margin-left: -200%; }

/*75% { margin-left: -300%; }
100% { margin-left: -300%; }*/
}



 .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200%;
  pointer-events: auto;
  background-color: #aeb1c2;
  background-clip: padding-box;
  border: 0 solid rgba(119, 22, 22, 0.1);
  border-radius: 0.75rem;
  outline: 1;

} 

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
  border-bottom: 0 solid #dee2e6;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 2rem 1rem;
}


.portfolio .portfolio-item {
  cursor: col-resize;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: visible;
}

.portfolio-modal .close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 5rem;
  font-size: 3rem;
  line-height: 3rem;
  color: #1abc9c;
  opacity: 1;
}

.footer {

 
  background-color: #050505;
  color: #fff;
}



#section {
  align-content: center;
  text-align: center;
  align-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #050505;
  color: #fff;

}

